ServicioRCE/WebContent/wsdl/BuscarHorasReservadasWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices" xmlns:intf="http://webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="buscarHorasReservadas">
    <complexType>
     <sequence>
      <element name="fecha1" type="xsd:dateTime"/>
      <element name="idMedico" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarHorasReservadasResponse">
    <complexType>
     <sequence>
      <element name="buscarHorasReservadasReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="buscarHorasReservadasRequest">

      <wsdl:part element="impl:buscarHorasReservadas" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarHorasReservadasResponse">

      <wsdl:part element="impl:buscarHorasReservadasResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BuscarHorasReservadasWS">

      <wsdl:operation name="buscarHorasReservadas">

         <wsdl:input message="impl:buscarHorasReservadasRequest" name="buscarHorasReservadasRequest">

       </wsdl:input>

         <wsdl:output message="impl:buscarHorasReservadasResponse" name="buscarHorasReservadasResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BuscarHorasReservadasWSSoapBinding" type="impl:BuscarHorasReservadasWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="buscarHorasReservadas">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarHorasReservadasRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarHorasReservadasResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BuscarHorasReservadasWSService">

      <wsdl:port binding="impl:BuscarHorasReservadasWSSoapBinding" name="BuscarHorasReservadasWS">

         <wsdlsoap:address location="http://localhost:8080/ProveedorServicioHospital/services/BuscarHorasReservadasWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
