ServicioRCE/WebContent/wsdl/RegistroClinicoWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices" xmlns:intf="http://webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getRegistroClinico">
    <complexType/>
   </element>
   <element name="getRegistroClinicoResponse">
    <complexType>
     <sequence>
      <element name="getRegistroClinicoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRegistroClinicoPorNombre">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRegistroClinicoPorNombreResponse">
    <complexType>
     <sequence>
      <element name="getRegistroClinicoPorNombreReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="crearRegistroClinico">
    <complexType>
     <sequence>
      <element name="idHora" type="xsd:int"/>
      <element name="anamnesis" type="xsd:string"/>
      <element name="alergias" type="xsd:string"/>
      <element name="examenFisico" type="xsd:string"/>
      <element name="indicacionMedica" type="xsd:string"/>
      <element name="indicacionCierreCaso" type="xsd:string"/>
      <element name="hipotesis" type="xsd:string"/>
      <element name="diagnostico" type="xsd:string"/>
      <element name="detalleGes" type="xsd:string"/>
      <element name="receta" type="xsd:string"/>
      <element name="certificados" type="xsd:string"/>
      <element name="actividades" type="xsd:string"/>
      <element name="procedimientos" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="crearRegistroClinicoResponse">
    <complexType>
     <sequence>
      <element name="crearRegistroClinicoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getRegistroClinicoPorNombreResponse">

      <wsdl:part element="impl:getRegistroClinicoPorNombreResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRegistroClinicoRequest">

      <wsdl:part element="impl:getRegistroClinico" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="crearRegistroClinicoResponse">

      <wsdl:part element="impl:crearRegistroClinicoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRegistroClinicoPorNombreRequest">

      <wsdl:part element="impl:getRegistroClinicoPorNombre" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRegistroClinicoResponse">

      <wsdl:part element="impl:getRegistroClinicoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="crearRegistroClinicoRequest">

      <wsdl:part element="impl:crearRegistroClinico" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RegistroClinicoWS">

      <wsdl:operation name="getRegistroClinico">

         <wsdl:input message="impl:getRegistroClinicoRequest" name="getRegistroClinicoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getRegistroClinicoResponse" name="getRegistroClinicoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRegistroClinicoPorNombre">

         <wsdl:input message="impl:getRegistroClinicoPorNombreRequest" name="getRegistroClinicoPorNombreRequest">

       </wsdl:input>

         <wsdl:output message="impl:getRegistroClinicoPorNombreResponse" name="getRegistroClinicoPorNombreResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="crearRegistroClinico">

         <wsdl:input message="impl:crearRegistroClinicoRequest" name="crearRegistroClinicoRequest">

       </wsdl:input>

         <wsdl:output message="impl:crearRegistroClinicoResponse" name="crearRegistroClinicoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RegistroClinicoWSSoapBinding" type="impl:RegistroClinicoWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getRegistroClinico">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRegistroClinicoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRegistroClinicoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRegistroClinicoPorNombre">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRegistroClinicoPorNombreRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRegistroClinicoPorNombreResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="crearRegistroClinico">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="crearRegistroClinicoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="crearRegistroClinicoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RegistroClinicoWSService">

      <wsdl:port binding="impl:RegistroClinicoWSSoapBinding" name="RegistroClinicoWS">

         <wsdlsoap:address location="http://localhost:8080/ProveedorServicioHospital/services/RegistroClinicoWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
